:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}
body {
  background-color: var(--Charcoal-Grey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  flex-direction: column;
  background-color: var(--White);
  width: 375px;
  border-radius: 20px;
  overflow: hidden;
}
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
}
.text {
  text-align: left;
}
.text p,
.text li {
  margin: 12px 40px;
}
.text li {
  line-height: 2;
}
.text li span {
  margin-left: 10px;
}
.list-icon {
  vertical-align: middle;
}
label {
  margin-bottom: 10px;
  margin-top: 30px;
  position: relative;
  right: 120px;
  font-size: 14px;
  font-weight: 700;
}
input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-size: medium;
}
label {
  font-size: 14px;
  font-weight: 700;
}
button {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  color: var(--White);
  background-color: var(--Dark-Slate-Grey);
  margin-top: 20px;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--Tomato);
  border: none;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.16);
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: var(--Tomato);
}
#pc-img {
  display: none;
}
em {
  position: relative;
  left: 90px;
  bottom: 25px;
  font-size: 13px;
  color: var(--Tomato);
  font-weight: 700;
}
@media (min-width: 1000px) {
  main {
    flex-direction: row-reverse;
    width: 880px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  #mob-img {
    display: none;
  }
  #pc-img {
    display: flex;
    height: 550px;
    margin-right: 20px;
  }
  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }
  h1 {
    font-size: 60px;
  }
  label {
    right: 170px;
  }
}
